.env
/.venv
/.ruff_cache
/.vscode

creds.json
.ruff_cache
/econ_data_platform/local.duckdb
# Dagster temporary directories
tmp_*
tmpr_*
tmpd_*
.tmp_dagster_*
*.csv
*.log

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc